[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.7"
psycopg2-binary = "2.9.1"
django-environ = "0.6.0"
django-crispy-forms = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
