{% extends 'base.html' %}

{% load static %}

{% block title %}proEstate - Budynek{% endblock title %}

{% block content %}

    <div class="card text-left bg-white">
        <div class="card-header bg-white">
            <ul class="nav nav-tabs card-header-tabs bg-white ">
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="{% url 'Building:building_details' building.slug %}">Dane
                        nieruchomości</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary" href="{% url 'Building:building_cartography' building.slug %}">Kartografia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true"
                       href="{% url 'Building:building_flats' building.slug %}">Mieszkania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary"
                       href="{% url 'Building:building_coop' building.slug %}">Zarządca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary"
                       href="{% url 'Building:building_documents' building.slug %}">Dokumenty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-secondary"
                       href="{% url 'Building:building_photos' building.slug %}">Zdjęcia</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="container">
                <div class="row p-3">
                    <table class="table">

                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">m<sup>2</sup></th>
                            <th scope="col">Własność</th>
                            <th scope="col"><img src="{% static 'co.png' %}" style="height: 20px; width: auto;" alt="">
                            </th>
                            <th scope="col"><img src="{% static 'wc.png' %}" style="height: 20px; width: auto;" alt="">
                            </th>
                            <th scope="col"><img src="{% static 'gas.jpg' %}" style="height: 20px; width: auto;" alt="">
                            </th>
                            <th scope="col"><img src="{% static 'energy.png' %}" style="height: 20px; width: auto;"
                                                 alt="">
                            </th>
                            <th scope="col"><img src="{% static 'water.png' %}" style="height: 20px; width: auto;"
                                                 alt="">
                            </th>
                            <th scope="col"><img src="{% static 'user.png' %}" style="height: 20px; width: auto;"
                                                 alt="">
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for flat in building.flat_set.all %}
                            <tr>
                                <th scope="row"><a href="{% url 'Building:flat_details' building.slug flat.pk %}"
                                                   class="link-secondary">
                                    {{ flat.number }}{{ flat.number_suffix|default_if_none:'' }}</a></th>
                                <td>{{ flat.area|default_if_none:"n/a" }} m<sup>2</sup></td>
                                <td>{{ flat.get_ownership_type_display|default_if_none:"n/a" }}</td>
                                <td>{{ flat.get_heating_type_display|default_if_none:"n/a" }}</td>
                                <td>
                                    {% if flat.water_heating == True %}
                                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% else %}
                                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if flat.natural_gas == True %}
                                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% else %}
                                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if flat.electricity == True %}
                                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% else %}
                                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if flat.water == True %}
                                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% else %}
                                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if flat.user.all %}
                                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% else %}
                                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container align-content-center">
        <div class="row align-content-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                {% if page_obj.paginator.num_pages > 1 %}
                    <div class="pagination container align-content-center">
                    <span class="step-links align-content-center">
                        {% if page_obj.has_previous %}
                            {#                    <a href="?page=1">&laquo; pierwsza</a>#}
                            <a href="?page={{ page_obj.previous_page_number }}">&laquo; poprzednia </a>
                        {% endif %}
                        <span class="current align-content-center">

                                Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}

                        </span>
                        {% if page_obj.has_next %}
                            {#                    <a href="?page={{ page_obj.paginator.num_pages }}">ostatnia &raquo;</a>#}
                            <a href="?page={{ page_obj.next_page_number }}"> następna &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock content %}
