{% extends 'base.html' %}

{% load static %}

{% block title %}proEstate - Budynek{% endblock title %}

{% block content %}

    <ul><h6><a href="{% url 'Building:building_details' flat.building.slug %}"
           class="link-secondary"><i>{{ flat.building }}</i></a> / <i>
        <a href="{% url 'Building:flat_update' flat.building.slug flat.pk %}" class="link-warning">
            {{ flat.number }}{{ flat.number_suffix|default_if_none:'' }}</a></i></h6></ul>
    <br>

    <div class="row align-items-start">
        <div class="col">
            <ul>Powierzchnia:</ul>
            <ul>Piętro:</ul>
            <ul>Własność:</ul>
            <br>
            <ul>Gaz:</ul>
            <ul>Prąd:</ul>
            <ul>Woda:</ul>
            <ul>Typ ogrzewania:</ul>
            <ul>Ogrzewanie wody z CO:</ul>
            <br>
            <ul>Mieszkańcy:</ul>
            <ul>{% if user not in flat.user.all %}
                <form action="{% url 'Building:flat_add_user' pk=object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Dopisz się do mieszkania" class="btn btn-success">
                </form>
            {% else %}
                <form action="{% url 'Building:flat_delete_user' pk=object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Opuść mieszkanie" class="btn btn-danger">
                </form>
            {% endif %}</ul>
        </div>
        <div class="col">
            <b>
                <ul>{{ flat.area|default:"n/a" }} m<sup>2</sup></ul>
                <ul>{{ flat.floor|default:"n/a" }}</ul>
                <ul>{{ flat.get_ownership_type_display }}</ul>
                <br>
                <ul>
                    {% if flat.natural_gas == True %}
                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% else %}
                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% endif %}
                </ul>
                <ul>
                    {% if flat.electricity == True %}
                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% else %}
                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% endif %}
                </ul>
                <ul>
                    {% if flat.water == True %}
                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% else %}
                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% endif %}
                </ul>
                <ul>{{ flat.get_heating_type_display }}</ul>
                <ul>
                    {% if flat.water_heating == True %}
                        <img src="{% static 'true.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% else %}
                        <img src="{% static 'false.svg' %}" style="height: 20px; width: auto;" alt="">
                    {% endif %}
                </ul>
                <br>
                {% for user in flat.user.all %}
                    <ul><b>{{ user.first_name|title }} {{ user.last_name|title }}</b></ul>
                {% empty %}
                    <ul>Nie dodano jeszcze mieszkańców, <br><br>
                    </ul>
                    <br>
                {% endfor %}

                <br>
            </b>
        </div>

        <div class="col">

            <table class="table">

                <thead>
                <tr>
                    <th scope="col"></th>

                    <th scope="col"><img src="{% static 'gas.jpg' %}" style="height: 20px; width: auto;" alt="">
                    </th>
                    <th scope="col"><img src="{% static 'energy.png' %}" style="height: 20px; width: auto;"
                                         alt="">
                    </th>
                    <th scope="col"><img src="{% static 'water.png' %}" style="height: 20px; width: auto;"
                                         alt="">
                    </th>

                </tr>
                </thead>

                <tbody>
                {% for measure in flat.measure_set.all|dictsort:"payment_period.month" %}
                    <tr>
                        <th scope="row">{{ measure.payment_period.get_month_display }}</th>
                        <td>{{ measure.gas|default_if_none:0 }} m<sup>3</sup></td>
                        <td>{{ measure.energy|default_if_none:0 }} kWh</td>
                        <td>{{ measure.water|default_if_none:0 }} m<sup>3</sup></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>

{% endblock content %}