{% extends 'base.html' %}

{% block title %}proEstate - O nas{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <div class="container align-content-center">

            <h1>Cel projektu:</h1>
            <br>
            <div class="row align-content-center">
                <div class="col-sm">


                    <p>Niniejsza aplikacja jest pracą dyplomową na zakończenie kursu Python Backend Developer</p>
                    <p>Jej celem było potwierdzenie moich umiejętności w zakresie tworzenia stron internetowych uzbrojonych w logikę z wykorzystaniem baz danych.</p>
                    <p>Projekt został stworzony w wirtualnym środowisku Pipenv</p>

                    W tym projekcie korzystałem z:
                    <br>
                    <li>Pythona - 3.9.5</li>
                    <li>Postgres - 13.4</li>
                </div>
                <div class="col-sm">
                    Dodatkowe biblioteki:
                    <br>
                    <li>django = "3.2.7"</li>
                    <li>psycopg2-binary = "2.9.1"</li>
                    <li>psycopg2-binary = "2.9.1"</li>
                    <li>django-environ = "0.7.0"</li>
                    <li>django-crispy-forms = "1.13.0"</li>
                    <li>django-crispy-forms = "1.13.0"</li>
                    <li>crispy-bootstrap5 = "0.5"</li>
                    <li>pillow = "8.3.2"</li>
                    <li>django-pytest = "0.2.0"</li>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}