{% load static %}

<!DOCTYPE html>

<html lang="en" class="h-100">
<script type="text/javascript">window["_gaUserPrefs"] = {
    ioo: function () {
        return true;
    }
}</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>{% block title %}{% endblock %}</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{% static 'sticky-footer-navbar.css' %} rel=" stylesheet>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div class="container-md">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid w-75">
                <a class="navbar-brand" href="{% url 'main' %}">
                    <img src="https://www.svgrepo.com/show/3504/big-building.svg" alt="logo proEstate" width="60" height="60"
                         class="d-inline-block align-middle">

                    ProEstate</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Building:buildings' %}">Budynki</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}

                        <li class="nav-item dropdown align-middle">
                            <a class="nav-link dropdown-toggle link-secondary align-middle" href="#"
                               id="navbarDarkDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.first_name|title }} {{ user.last_name|title }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark"
                                aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'User:profile' %}">Profil</a></li>
                                <li><a class="dropdown-item" href="#">Modyfikuj profil</a></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'User:pass_change' %}">Zmień hasło</a></li>
                            </ul>
                        </li>

                        <div class="px-3"></div>
                        <a href="{% url 'User:user_logout' %}">
                            <button class="px-3 btn btn-outline-danger nav-item>">Wyloguj</button>
                        </a>
                    {% else %}
                        <a href="{% url 'User:user_login' %}">
                            <button class="px-3 btn btn-outline-success nav-item">Zaloguj</button>
                        </a>
                        <div class="px-3"></div>
                        <a href="{% url 'User:signup' %}">
                            <button class="px-3 btn btn-outline-info nav-item">Zarejestruj</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        </nav>
    </div>
</header>
<br>
<br>
<br>
<br>
<br>

<main class="flex-shrink-0">
    <div class="container">
        {% block content %}



        {% endblock %}
    </div>
</main>


<footer class="footer mt-auto py-6 bg-light">
    <div class="container text-secondary w-75">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">

                        <p><b>proEstate</b></p>
                        Wiejska 6 <br>
                        Warszawa <br>
                        50-518 <br>

                    </div>
                    <div class="col-md-6 px-4">
                        <h6>Dowiedz się o nas więcej</h6>
                        <br>
                        <a href="#" class="btn-footer link-dark"> O firmie </a><br>
                        <br>
                        <a href="#" class="btn-footer link-dark"> Napisz do nas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-7 px-4">
                        <h6>Telefony alarmowe</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>997 Policja</li>
                                    <li>998 Straż</li>
                                    <li>999 Pogotowie</li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <br>
                                <h6><a href="mailto:pro3state@gmail.com" class="link-dark">Współpraca</a></h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'bootstrap.bundle.min.js' %}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>src="{% static 'app.js' %}"</script>


</body>
</html>