{% load static %}

<!DOCTYPE html>

<html lang="en" class="h-100">
<script type="text/javascript">window["_gaUserPrefs"] = {
    ioo: function () {
        return true;
    }
}</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

    <title>{% block title %}{% endblock %}</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{% static 'sticky-footer-navbar.css' %} rel=" stylesheet>
</head>
<body class="d-flex flex-column h-100">

<header>
    <div class="container-md">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid w-75">
                <a class="navbar-brand" href="{% url 'main' %}">
                    <img src="https://www.svgrepo.com/show/3504/big-building.svg" alt="logo proEstate" width="60"
                         height="60"
                         class="d-inline-block align-middle">

                    ProEstate</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Building:buildings' %}">Budynki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'User:contact_neighbour' %}?next={{ request.path|urlencode }}">Napisz do
                                sasiada</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-danger nav-link"
                               href="{% url 'User:report_failure' %}?next={{ request.path|urlencode }}">Zgłoś awarię</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}

                        <li class="nav-item dropdown d-flex flex-wrap align-items-center">
                            <a class="nav-link dropdown-toggle link-secondary" href="#"
                               id="navbarDarkDropdownMenuLink"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.first_name|title }} {{ user.last_name|title }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark"
                                aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'User:profile' %}">Profil</a></li>
                                <li><a class="dropdown-item" href="{% url 'User:profile_update' %}">Modyfikuj profil</a>
                                </li>
                                <li><a class="dropdown-item text-warning" href="{% url 'User:pass_change' %}">Zmień
                                    hasło</a></li>
                                <li><a class="dropdown-item text-danger" href="{% url 'User:delete_user' %}">Usuń
                                    konto</a></li>
                            </ul>
                        </li>

                        <div class="px-3"></div>
                        <a href="{% url 'User:user_logout' %}">
                            <button class="px-3 btn btn-outline-danger nav-item>">Wyloguj</button>
                        </a>
                    {% else %}
                        <a href="{% url 'User:user_login' %}">
                            <button class="px-3 btn btn-outline-success nav-item">Zaloguj</button>
                        </a>
                        <div class="px-3"></div>
                        <a href="{% url 'User:signup' %}">
                            <button class="px-3 btn btn-outline-info nav-item">Zarejestruj</button>
                        </a>
                    {% endif %}

                </div>
            </div>
        </nav>
    </div>
</header>
<br>
<br>
<br>
<br>
<br>

<main class="flex-shrink-0">
    <div class="container">
        {% block content %}



        {% endblock %}
    </div>
</main>


<footer class="footer mt-auto py-6 bg-light">
    <div class="container text-secondary w-75">
        <div class="row m-3">
            <div class="col-sm">
                <small class="text-muted">
                    <b>proEstate</b><br>
                    Wiejska 6 | Warszawa | 50-518
                    <br>
                </small>
            </div>
            <div class="col-sm">
                <small class="text-muted">
                    <a href="{% url 'about' %}" class="link-secondary"> O mnie </a><br>
                    <a href="{% url 'contact_us' %}" class="link-secondary"> Napisz do nas</a>
                </small>
            </div>
            <div class="col-sm d-flex flex-wrap align-items-center">
                <a href="https://github.com/LukaszHoszowski/Django_ProEstate" target="_blank">
                    <img width="50px" height="50px" src="{% static 'github.png' %}" style="opacity: 0.5; margin-right: 20px;" alt="">
                </a>
                <a href="https://www.codewars.com/users/na1l71" target="_blank">
                    <img width="50px" height="50px" src="{% static 'codewars.png' %}" style="opacity: 0.5; margin-right: 20px;" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'bootstrap.bundle.min.js' %}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script>src = "{% static 'app.js' %}"</script>


</body>
</html>