{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}proEstate - Napisz do nas{% endblock title %}

{% block content %}

    <div class="container align-content-center">
        <div class="row align-content-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h2>Kontakt</h2>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <input class="btn btn-secondary" type="submit" value="Wyślij">
                    <br>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock content %}