{% extends 'base.html' %}

{% block title %}proEstate - Logowanie użytkownika{% endblock title %}

{% block content %}
    <div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Twoja stolica zarządzania nieruchomościami!</h1>

        <p>Jesteśmy młodą, prężnie rozwijającą się, firmą technologiczną. W tej aplikacji skupiliśmy się na problemie zarządzania
        nieruchomościami z perspektywy zarządcy/spółdzielni. Aplikacja oferuje:
            <li>komunikację z mieszkańcami</li>
            <li>komunikację między mieszkańcami</li>
            <li>wysyłanie powiadomień mieszkańcom, spersonalizowanych lub masowych</li>
            <li>zarządzanie danymi mieszkańców</li>
            <li>zbieranie odczytów liczników</li>
            <li>przypomnienia o konieczności uzupełnienia wskazań liczników</li>
            <li>przychowywania infrmacji o budynku oraz mieszkaniach</li>
        </p>

{#        <p><a class="btn btn-primary btn-lg" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/#"#}
{#              role="button">Learn more »</a></p>#}
    </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Technologia</h2>
                <p>Aplikacja została stworzona przy użyciu frameworka Django. To wiodąca technologia w szybki tworzeniu
                    inteligentnych stron internetowych. Strona jest napisana w taki sposób można było dodawać dodatkowe
                    moduły lub rozszerzać funkcjonalność istniejących. Szybko i przyjemnie.</p>
                <p><a class="btn btn-secondary" href="https://www.djangoproject.com/" target="_blank"
                      role="button">Dowiedz się więcej »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Personalizacja</h2>
                <p>Na stronie nie znajdziesz elementu, którego nie dałoby się spersonalizować! Każdy link, przycisk czy
                    informacja z backendu może być zmieniona zarówno pod kątem wyglądu jak i rodzaju pokazywanej
                    informacji. Django daje niesamowite możliwości dostosowywania strony przy zachowaniu kosztów w
                    ryzach.</p>
                <p><a class="btn btn-secondary" href="https://docs.djangoproject.com/en/3.2/topics/auth/customizing/"
                      target="_blank" role="button">Dowiedz się więcej »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Konkurencja</h2>
                <p>Na rynku znajdziesz inne firmy oferujące podobne usługi. Oferujemy bardzo atrakcyjny system
                    rozliczania zależny od ilości obsługiwanych lokali. Dzięki tej aplikacji będziesz mógł znacząco
                    ograniczyć koszty swojej firmy znacząco zwiększając jej efektywność. Koniec z papierami, czas ery
                    cyfrowej nadszedł!</p>
                <p><a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/#"
                      role="button">Dowiedz się więcej »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

    </main>
{% endblock content %}