{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}proEstate - Edycja profilu{% endblock title %}

{% block content %}

    <div class="container align-content-center">
        <div class="row align-content-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h2>Edytuj profil</h2>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <input class="btn btn-secondary" type="submit" value="Zapisz">
                    <br>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock content %}