{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}proEstate - Tworzenie profilu{% endblock title %}

{% block content %}
    <h2>Dodawanie mieszkań</h2>
    <br>
    <form method="post" action="{% url 'Building:flat_details' slug=user.flat.building.slug pk=user.flat.pk %}">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <input class="btn btn-secondary" type="submit" value="Dodaj">
    </form>

{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#    <script>#}
{#        $("#id_building").change(function () {#}
{#            var url = $("#userFlat").attr("data-flats-url");  // get the url of the `load_cities` view#}
{#            var buildingId = $(this).val();  // get the selected country ID from the HTML input#}
{##}
{#            $.ajax({                       // initialize an AJAX request#}
{#                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)#}
{#                data: {#}
{#                    'building': bildingId       // add the country id to the GET parameters#}
{#                },#}
{#                success: function (data) {   // `data` is the return of the `load_cities` view function#}
{#                    $("#id_flat").html(data);  // replace the contents of the city input with the data that came from the server#}
{#                }#}
{#            });#}
{##}
{#        });#}
{#    </script>#}

{##}
{#    <h2>Tworzenie profilu 3/3</h2>#}
{#    <br>#}
{#    <h6>Wybierz swój lokal</h6>#}
{#    <br>#}
{#    <form method="post" action="">#}
{#        {% csrf_token %}#}
{#        {{ form | crispy }}#}
{#        <br><br>#}
{#        <input class="btn btn-secondary" type="submit" value="Zapisz">#}
{#        <br><br>#}
        {#        <a href="{% url 'home' %}">Home</a>#}
{#    </form>#}
{% endblock content %}