{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}proEstate - Profil{% endblock title %}

{% block content %}
    <h2>Twój profil</h2>
    <br>
    <hr>

    <div class="container">

        <div class="row align-items-start">
            <div class="col">
                <div class="circle-img rounded-circle">
                    <img src="{{ object.avatar.url|default_if_none:'#' }}" class="img-fluid max-width: 150px height: auto;" alt="avatar">
                </div>
            </div>
            <div class="col">
                <ul>Nazwa użytkownika:</ul>
                <ul>Imię:</ul>
                <ul>Nazwisko:</ul>
            </div>
            <div class="col">
                <b>
                <ul>{{ object.user.username }}</ul>
                <ul>{{ object.user.first_name }}</ul>
                <ul>{{ object.user.last_name }}</ul>
                </b>
            </div>
            <div class="col">
                Twoje mieszkania:
            </div>
            <div class="col">
                {% for flat in object.flat.all %}
                    <b><a href="{{ flat.get_absolute_url }}" class="link-secondary">{{ flat }}</a></b>
                {% empty %}
                    Nie dodałeś żadnych mieszkań.
                    <br>
                    <b><a href="{% url 'User:profile_creation_flat' %}">Dodaj mieszkanie</a></b>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}