{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}proEstate - Zmiana hasła użytkownika{% endblock title %}

{% block content %}

    <div class="container align-content-center">
        <div class="row align-content-center">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <h2>Usuwanie profilu użytkownika</h2>
                <br>
                <form method="post">{% csrf_token %}
                    <p>Czy jesteś pewien, że chcesz usunąć konto użytkownika "{{ object }}"?</p>
                    <input class="btn btn-danger" type="submit" value="Potwierdź">
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
{% endblock content %}